name: ratelimiter
services:
  # rate limiter server
  quoter:
    build:
      context: quoter
    container_name: quoter
    ports:
      - "8443:8443"
    networks:
      - rate-limiter

  # rate limiter client
  lambda:
    environment:
      DRY_RUN: "false"
      API_SUBSCRIPTION_KEY: "897d9f58-6b42-4ca7-8229-2e04056490b7"
      LIMITER_HOST: "https://quoter:8443"
      CA_CERT_PATH: "/etc/ssl/certs/dns-api.crt"
    build:
      context: lambda
    container_name: lambda
    networks:
      - rate-limiter

  # client api gateway
  kong:
    image: kong:latest
    container_name: kong
    ports:
      - "8000:8000"
    environment:
      KONG_DATABASE: off
      KONG_DECLARATIVE_CONFIG: /usr/local/kong/declarative/kong.yml
    volumes:
      - ./kong:/usr/local/kong/declarative
    networks:
      - rate-limiter

  # server metrics
  prometheus:
    image: prom/prometheus
    container_name: quoter_metrics
    volumes:
      - "./prom/prometheus.yml:/etc/prometheus/prometheus.yml"
    networks:
      - rate-limiter
    ports:
      - "9090:9090"

networks:
  rate-limiter: