name: ratelimiter
services:

  quoter:
    build:
      context: quoter
    container_name: quoter
    ports:
      - "8443:8443"
    networks:
      - lambda-example

  lambda:
    environment:
      DRY_RUN: "false"
      API_SUBSCRIPTION_KEY: "c06e5a28-0bdf-4d4e-9dd0-86a5a51e9a0d"
      LIMITER_HOST: "https://quoter:8443"
      CA_CERT_PATH: "/etc/ssl/certs/dns-api.crt"
    build:
      context: lambda
    container_name: lambda
    networks:
      - lambda-example

  kong:
    image: kong:latest
    container_name: kong
    ports:
      - "8000:8000"
    environment:
      KONG_DATABASE: off
      KONG_DECLARATIVE_CONFIG: /usr/local/kong/declarative/kong.yml
    volumes:
      - ./kong:/usr/local/kong/declarative
    networks:
      - lambda-example

networks:
  lambda-example: